@import './core/reset';
@import './core/variables';

:root {
  background-color: $color-ghost-white;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@import './layout/header';
@import './layout/landing';
@import './layout/expenseslog';
@import './layout/monthyearselector';
@import './layout/newlog';
@import './layout/footer';
@import './layout/expensedetail';