.buttons_detailed_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  padding-top: 50px;
}

.return_link {
  font-size: 0.8rem;
  color: $color-violet;
  background-color: $color-ghost-white;
  border: solid 1px rgba($color-lilac, 0.5);
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;

  &:hover {
    scale: 0.95;
  }
}

.btn_delete {
  color: $color-violet;
  min-height: 28px;
  min-width: 28px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    color: lighten($color-violet, 20%); 
    scale: 0.85;
  }
}

.expense_detail {
  margin-top: 10px;
}

.expense_edit_form {
  width: 300px;
  padding-block: 20px;
  padding-right: 10px;
  text-align: left;

  .expense_edit_input {
    width: 100%;
    padding-left: 8px;
    padding-block: 2px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 0.85rem;
    transition: border-color 0.3s;
  }

  .expense_edit_input:focus {
    border-color: $color-lapis-lazuli;
    outline: none;
  }
}

.edit_save_buttons {
  padding-top: 20px;
}

.btn_save {
  background-color: rgba($color-violet, 0.8);
  color: white;
  width: 300px;
  padding-block: 8px;
  margin-bottom: 15px;
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s;

  &:hover {
    background-color: darken($color-violet, 1.1); 
    scale: 0.98;
  }
}

.btn_cancel {
  background-color: $color-ghost-white; 
  color: $color-lilac;
  width: 300px;
  border: 1px solid $color-lilac;
  border-radius: 5px; 
  padding-block: 5px;
  cursor: pointer;
  transition: background-color 0.3s; 
  
  &:hover {
    scale: 0.98;
  }
}

.expense_detailed {
  background-color: $color-ghost-white;
  border: 1px solid #ddd;
  width: 300px;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 30px 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .expense_detailed_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .expense_detailed_date {
      font-size: 1em;
      color: #888;
    }
  } 
}

.expense_item_detailed {
  width: 100%;
  border-top: 1px solid #ddd;
  color: black;
  padding-top: 20px;

  .expense_item_detailed_label {
    text-align: left;
    padding-top: 20px; 
  }
      
  .expense_item_detailed_value {
    text-align: right;
  }
}

.btn_edit {
  background-color: $color-lilac; 
  color: white;
  width: 300px;
  border: none;
  border-radius: 5px; 
  padding-block: 8px;
  cursor: pointer;
  transition: background-color 0.3s; 
  
  &:hover {
    background-color: $color-ghost-white; 
    border: 1px solid $color-lilac;
    color: $color-lilac;
    scale: 0.98;
  }
}