.month_selector {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    position: fixed;
    left: calc(50% - 250px);
    top: 30px;
  }

  @media (min-width: 1024px) {
    left: calc(50% - 320px);
  }

  .selected_month_btn {
    max-width: 150px;
    background-color: $color-violet;
    color: $color-ghost-white;
    padding: 0.4rem 1.5rem;
    margin-bottom: 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
       background-color: $color-lilac;
    }
  }

  .selected_month_btn_icon {
    padding-left: 10px;
  }
}

.calendar {
  width: 290px;  
  background-color: $color-lilac;
  padding: 20px 10px;
  position: absolute;
  top: 90px;
  border-radius: 10px;
  overflow: hidden;
  animation: fadeIn 0.6s ease-out;
  z-index: 9999;

  @keyframes fadeIn {
    from { max-height: 0;
           opacity: 0; 
    }
    to { max-height: 300px;
        opacity: 1; 
    }
  }

  @media (min-width: 768px) {
    top: 50px;
    width: 310px;
  }

  @media (min-width: 768px) {
    width: 360px;
  }

  .calendar_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    margin-top: 5px;
    background-color: $color-lilac;

    .calendar_header_btn_icon {
      background-color: $color-lilac;
      color: $color-violet;
      cursor: pointer;
      width: 22px;
      height: 22px;
    }

    .calendar_header_year {
      background-color: $color-lilac;
      color: $color-violet;
      font-weight: bold;
      font-size: 1.2rem;
    }
  }

  .calendar_months {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-block: 10px;
    
  }

  .calendar_month {
    background-color: $color-ghost-white;
    text-align: center;
    padding-block: 5px;
    cursor: pointer;

    &:hover {
      background-color: rgba(196, 155, 187, 0.3);
      font-weight: bold;
    }
  }

  .month_selected {
    background-color: rgba(196, 155, 187, 0.3);
    font-weight: bold;
  }
}







