@import './core/reset';
@import './core/variables';

* {
  background-color: $color-mint-cream;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

@import './layout/header';
@import './layout/landing';
@import './layout/footer';
